.container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.modal-container{
    height: 200px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--secondary-background);
}

button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: var(--secondary-text);
    color: var(--primary-background);
}

h1{
    font-size: 1.7rem;
    color: var(--primary-text);
}