<app-navbar></app-navbar>
<h1>Add Students</h1>
<section>
  <div>
    <label for="Name">Name</label>
    <input type="text" id="name" />
  </div>
  <div>
    <label for="roll-number">Roll Number</label>
    <input type="number" id="roll-number" />
  </div>
  <div>
    <label for="Name">Name</label>
    <input type="text" id="name" />
  </div>
  <div>
    <label for="Name">Name</label>
    <input type="text" id="name" />
  </div>
  <div>
    <label for="Name">Name</label>
    <input type="text" id="name" />
  </div>
  <div>
    <label for="Name">Name</label>
    <input type="text" id="name" />
  </div>
</section>
