<nav>
  <div class="container">
    <div class="nav-element">
      <img
        src="../../../assets/dashboard.svg"
        alt="Dashboard"
        class="dashboard"
      />
      <a routerLink="/dashboard">Dashboard</a>
    </div>
    <div class="nav-element">
      <img src="../../../assets/plus.svg" alt="plus" class="plus" />
      <a routerLink="/add">Add Student</a>
    </div>
    <div class="nav-element">
      <img
        src="../../../assets/student-list.svg"
        alt="Student List"
        class="list"
      />
      <a routerLink="/list">Student List</a>
    </div>
    <div class="nav-element">
      <img src="../../../assets/api.svg" alt="API" />
      <a routerLink="/api">Api List</a>
    </div>
  </div>
</nav>
