<section>
  <h1>Log In</h1>
  <div>
    <input type="text" placeholder="User Name" [(ngModel)]="userName" />
  </div>
  <div>
    <input type="password" placeholder="Password" [(ngModel)]="password" />
  </div>
  <div *ngIf="invalidUsername" class="error-container">
    <p class="error">Invalid Username</p>
  </div>
  <div *ngIf="invalidPassword" class="error-container">
    <p class="error">Invalid Password</p>
  </div>
  <a routerLink="/forgot-password">Forgot Password?</a>
  <a (click)="onLogin()" class="sign-in">
    <button>Sign In</button>
  </a>
  <div class="line"></div>
  <h3>Don't have an account? Sign up now!</h3>
  <a routerLink="/sign-up" class="sign-up">
    <button>Sign Up</button>
  </a>
</section>
