nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: var(--primary-text);
    width: 100%;
}

a:hover{
    opacity: 50%;
    cursor: pointer;
}

a{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    color: var(--primary-text);
}

img{
    height: 40px;
    width: 40px;
}

.container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.mode-image{
    height: 30px;
    width: 30px;
    margin: 10px;
}