nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: var(--primary-text);
}

div{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    color: var(--primary-text);
}