h1{
    padding: 20px;
    color: var(--primary-text);
}

section{
    padding: 20px;
}

table{
    width: 100%;
}

table,tr,td,th{
    border: 1px solid var(--content);
    border-collapse: collapse;
    padding: 5px;
}   

th{
    color: var(--primary-text);
}

td{
    color: var(--secondary-text);
}

.name{
    width: 10%;
}

.roll-number{
    width: 5%;
}

.department{
    width: 8%;
}

.country{
    width: 8%
}

.city{
    width: 8%;
}

.state{
    width: 8%;
}

.address1{
    width: 15%;
}

.address2{
    width: 10%;
}

.dob{
    width: 8%;
}

.pincode{
    width: 8%;
}

.image-container{
    text-align: center;
    vertical-align: middle;
}

.edit-image, .delete-image{
    height: 20px;
    width: 20px;
    color: var(--primary-text);
}