<div class="grid-container">
  <app-navbar-top></app-navbar-top>
  <app-navbar-left></app-navbar-left>
  <div class="content-container">
    <div class="list-header-container">
      <h1>Student List</h1>
      <div class="sort-options">
        <label for="sortOption">Sort by:</label>
        <select
          id="sortOption"
          [(ngModel)]="selectedSortOption"
          (change)="onSortOptionChange()"
        >
          <option value="roll_no">Roll Number</option>
          <option value="name">Name</option>
          <option value="department">Department</option>
        </select>
      </div>
    </div>
    <div class="search-container">
      <label for="search">Search:</label>
      <input
        type="text"
        class="search"
        id="search"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
      />
    </div>
    <section *ngIf="!studentsArrayEmpty">
      <table>
        <tr>
          <th class="name">Name</th>
          <th class="roll-number">Roll Number</th>
          <th class="dob">Date of Birth</th>
          <th class="department">Department</th>
          <th class="phone-number">Phone Number</th>
          <th class="address1">Address 1</th>
          <th class="address2">Address 2</th>
          <th class="pincode">Pincode</th>
          <th class="city">City</th>
          <th class="state">State</th>
          <th class="country">Country</th>
          <th class="delete">Edit</th>
          <th class="edit">Delete</th>
        </tr>
        <tr
          *ngFor="let student of students; let i = index"
          [ngClass]="{ 'even-row': isEven(i), 'odd-row': !isEven(i) }"
        >
          <td>{{ student.name }}</td>
          <td>{{ student.roll_no }}</td>
          <td>{{ student.dob }}</td>
          <td>{{ student.department }}</td>
          <td>{{ student.phone }}</td>
          <td>{{ student.address1 }}</td>
          <td>{{ student.address2 }}</td>
          <td>{{ student.pincode }}</td>
          <td>{{ student.city }}</td>
          <td>{{ student.state }}</td>
          <td>{{ student.country }}</td>
          <td (click)="editStudent(student)" class="image-container">
            <img
              *ngIf="isEven(i) && !lightMode"
              src="../../../assets/edit.svg"
              alt="Edit"
              class="edit-image"
            />
            <img
              *ngIf="!isEven(i) && !lightMode"
              src="../../../assets/edit-dark-alt.svg"
              alt="Edit"
              class="edit-image"
            />
            <img
              *ngIf="isEven(i) && lightMode"
              src="../../../assets/edit-light.svg"
              alt="Edit"
              class="edit-image"
            />
            <img
              *ngIf="!isEven(i) && lightMode"
              src="../../../assets/edit-light-alt.svg"
              alt="Edit"
              class="edit-image"
            />
          </td>
          <td (click)="openModal(student.roll_no)" class="image-container">
            <img
              *ngIf="isEven(i) && !lightMode"
              src="../../../assets/delete.svg"
              alt="Delete"
              class="delete-image"
            />
            <img
              *ngIf="!isEven(i) && !lightMode"
              src="../../../assets/delete-dark-alt.svg"
              alt="Delete"
              class="delete-image"
            />
            <img
              *ngIf="isEven(i) && lightMode"
              src="../../../assets/delete-light.svg"
              alt="Delete"
              class="delete-image"
            />
            <img
              *ngIf="!isEven(i) && lightMode"
              src="../../../assets/delete-light-alt.svg"
              alt="Delete"
              class="delete-image"
            />
          </td>
        </tr>
      </table>
    </section>
    <section *ngIf="studentsArrayEmpty">
      <div class="container">
        <h1>No Data Found</h1>
      </div>
    </section>
  </div>
</div>
