section{
    padding: 20px;
}

table{
    width: 100%;
}

table,tr,td,th{
    border: 1px solid var(--content);
    border-collapse: collapse;
    padding: 5px;
}   

th{
    color: var(--primary-text);
}

td{
    text-align: center;
}

.name{
    width: 10%;
}

.roll-number{
    width: 5%;
}

.department{
    width: 8%;
}

.country{
    width: 8%
}

.city{
    width: 8%;
}

.state{
    width: 8%;
}

.address1{
    width: 15%;
}

.address2{
    width: 10%;
}

.dob{
    width: 8%;
}

.pincode{
    width: 8%;
}

.image-container{
    text-align: center;
    vertical-align: middle;
}

.edit-image, .delete-image{
    height: 20px;
    width: 20px;
    color: var(--primary-text);
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > h1{
    font-size:  2rem;
}

.even-row{
    color: var(--secondary-text);
}

.odd-row{
    color: var(--tertiary-text);
}

.list-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}

.sort-options{
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap:15px;
}

label{
    font-size: 1.5rem;
    color: var(--primary-text);
}

select{
    background-color: var(--input-color);
    border: 3px solid var(--input-border);
    font-size: 1rem;
    padding: 2px;
    height: 1.7rem;
    border-radius: 10px;
}

.search-container{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.search{
    width: 250px;
    height: 1.7rem;
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 10px;
}