@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --primary-text: #66FCF1;
    --secondary-text: #45A29E;
    --content: #C5C6C7;
    --primary-background: #0B0C10;
    --secondary-background: #1F2833;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body { 
    height: 100%; 
}

body {
    background-color: var(--primary-background);
}

h1{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.error{
    color: var(--primary-background);
    font-size: 1rem;
}

.error-container{
    width: 100%;
    border-radius: 10px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #C3073F;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;
}

app-navbar-top{
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--secondary-background);
}

app-navbar-left{
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--secondary-background);
}

.content-container{
    grid-area: 2 / 2 / 3 / 3;
}